@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.piano-box {
  width: 70%;
  margin: 0 auto;
  height: 60vh;
}

.piano-keys-list {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  border-collapse: collapse;
}

.piano-key {
  border: 1px solid black;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.piano-key span {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.black-key {
  position: absolute;
  width: 50%;
  height: 70%;
  top: 0;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.one {
  right: -25%;
}

.two {
  right: -25%;
}

.three {
  right: -25%;
}

.four {
  right: -25%;
}

.five {
  right: -25%;
}

ul {
  margin-top: 30px;
  background-color: rgb(218, 112, 64);
  border-radius: 5px;
  padding-left: 0px;
  font-family: "Dancing Script", cursive;
}

ul li {
  list-style: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  margin-left: 60px;

  color: white;
}

.display-box {
  margin-top: 10px;
  width: 100%;
  height: 8vh;
  display: flex;
}

.display-box input {
  flex-grow: 1;
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
}

.display-box button {
  width: 120px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(218, 112, 64);
  border: none;
  border-radius: 3px;
}
